<!doctype html>
<html class="no-js">
<head>
  <title>{$Category_info.meta_title} - {:C('WEB_SITE_TITLE')}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{$Category_info.description}">
  <meta name="keywords" content="{$Category_info.keywords}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="__PUBLIC__/Home/css/amazeui.min.css">
  <link rel="stylesheet" href="__PUBLIC__/Home/css/app.css">
  <link rel="stylesheet" href="__PUBLIC__/Home/css/all.css">
</head>
<body>
<!--头部开始-->
<include file="Public:top" />
<!--头部结束-->
<!--菜单开始-->
<include file="Public:menu1" />
<!--菜单结束-->

<!--轮播开始--->
<include file="Public:big_slider" />
<!--轮播结束--->

<!--主体开始-->
<div class="quanju">
<div class=min>
<!--切换开始-->
<include file="Public:menu2" />
<!--切换结束-->
</div>
 </div> 
  <hr data-am-widget="divider" style="" class="am-divider am-divider-dotted" />
<div class="news-quanju">
	<div class="news-center">
			<div class="news-center-left">
			 <img src="{$Category_info.news_banner|get_cover='path'}" style="
    width: 100%;
">
			 <div class="wzlb">
      <div class="wzlb_1"><img src="__PUBLIC__/Home/i/news/xinwen.png" class="wzimg fl">
        <p>{$Category_info.title}</p>
      </div>
      
      <volist name="list" id="vo">
      <div class="list_lb">
        <div class="list_lb_1"><a href="{:U('/news')}/a/{$vo.id}.html" target="_blank"><b>{$vo.title}</b></a>
          <p class="rq">[{$vo.create_time|date='Y-m-d',###}]</p>
        </div>
        <div class="list_lb_2">　　{$vo.content|intro=0,145}<a href="{:U('/news')}/a/{$vo.id}.html" target="_blank">[阅读全文]</a></div>
        <div class="lb_tag">
        <span class="lb_tag_1">TAG：</span><a href="{:U('/news')}/a/{$vo.id}.html" class="lb_tag_2">{$vo.tag}</a> 
        <a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT74007147&lng=cn" target="_blank" class="lb_zx">点击咨询</a></div>
      </div>
	  </volist>

      <div class="hig_30"></div>
      <div class="pages">
      <div class="LNextPage">
      {$page}
      </div>
      </div>
    </div>
			
			
			</div>

<!--右侧开始-->
<div class="news-center-right">

    <include file="Public:right_disease" />
    
    <include file="Public:right_technology" />

    <include file="Public:right_specialist" />

    <include file="Public:right_case" />

    <include file="Public:right_attention" />
    
</div>
<!--右侧结束-->
	
	</div>

</div></div>
<!--主体结束-->

<!--浮动挂件开始--->
<include file="Public:widget_float" />
<!--浮动挂件结束--->

<hr data-am-widget="divider" style="" class="am-divider am-divider-dotted am-no-layout">
<!--footer开始-->
<include file="Public:footer" />
<!--footer结束-->

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__PUBLIC__/Home/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/Home/js/amazeui.min.js"></script>
<script src="__PUBLIC__/Home/js/all.js"></script>

<script>
//让当前导航高亮
$("#menuone{$Category_info.menu_no}").css({"background-color":"#7FC9F1","color":"white"});
</script>
</body>
</html>
<include file="Public:end" />