<extend name="Public/base"/>

<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title cf">
		<h2>
		<if condition="$_GET['_action'] eq 'add'">
			新增
			<else/>
			编辑
		</if>友情连接</h2>
	</div>
	<!-- 表单 -->
	<form id="form" action="{:addons_url('Links://Links/update')}" method="post" class="form-horizontal">
		<!-- 基础文档模型 -->
		<div id="tab1" class="tab-pane in tab1">
			<div class="form-item cf">
				<label class="item-label">站点名称<span class="check-tips">（请输入友情连接站点名称）</span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="title" value="{$info.title}">
				</div>
			</div>
			<div class="form-item cf">
				<label class="item-label">外链地址<span class="check-tips">（请填写带http://的全路径）</span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="link" value="{$info.link}">
				</div>
			</div>
			<div class="form-item cf">
				<label class="item-label">站点描述<span class="check-tips"></span></label>
				<div class="controls">
					<textarea name="summary" rows="2" class="textarea input-large">{$info.summary}</textarea>
				</div>
			</div>
			<div class="form-item cf">
				<label class="item-label">站长联系方式<span class="check-tips"></span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="mailto" value="{$info.mailto}">
				</div>
			</div>
			<div class="form-item cf">
				<label class="item-label">nofollow设置<span class="check-tips"></span></label>
				<div class="controls">
					<label class="radio">
						<input type="radio" value="1" <eq name="info['nofollow']" value="1">checked</eq> <if condition="$_GET['_action'] eq 'add'">checked</if> name="nofollow">
						跟踪</label>
					<label class="radio">
						<input type="radio" value="0" <eq name="info['nofollow']" value="0">checked</eq> name="nofollow">
						不跟踪</label>
				</div>
			</div>
			<div class="form-item cf">
				<label class="item-label">状态<span class="check-tips"></span></label>
				<div class="controls">
					<label class="radio">
						<input type="radio" value="1" <eq name="info['status']" value="1">checked</eq> <if condition="$_GET['_action'] eq 'add'">checked</if> name="status">
						启用</label>
					<label class="radio">
						<input type="radio" value="0" <eq name="info['status']" value="0">checked</eq> name="status">
						禁用</label>
				</div>
			</div>
			<div class="form-item cf">
				<label class="item-label">分组类型<span class="check-tips"></span></label>
				<div class="controls">
					<select name="type">
						<volist name="group_type" id="so">
							<option value="{$key}"  <if condition="$key eq $info['type']">selected</if> >{$so}</option>
						</volist>
					</select>
				</div>
			</div>
			<div class="form-item cf">
				<label class="item-label">优先级</label>
				<div class="controls">
					<input type="text" class="text input-large" name="sort" value="{$info.sort}">
				</div>
			</div>
		</div>
		<input type="hidden" name="id" value="{$info.id}"/>
		<div class="form-item cf">
			<input class="btn submit-btn hidden" type="submit" value="确 定" />
			<input class="btn btn-return" type="reset" value="重置" />
		</div>
	</form>
</block>
