<ul class="page-gu">
    <li> <a href="http://www.th023.com/special/brand/" target="_blank"><img src="__PUBLIC__/Home/i/1.jpg"></a></li>
    <li> <a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT74007147&amp;lng=cn" target="_blank"><img src="__PUBLIC__/Home/i/2.jpg" style="margin-right: -16px;"></a></li>
    <li> <a href="/armarium/"><img src="__PUBLIC__/Home/i/3.jpg"></a></li>
    <li> <a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT74007147&lng=cn" target="_blank"><img src="__PUBLIC__/Home/i/4.jpg"></a></li>
</ul>