<div class="caidan-icon">
    <div class="caidan-icon-1">
      <div class="xiao-icon">
        <style type="text/css">
*{margin:0; padding:0; }
img{border:none;}
.Imglist{width:260px; height:370px; padding:10px 0 0 0; background:#FFF; margin:0 auto; background:url(__PUBLIC__/Home/i/bgggg.png) no-repeat!important;}
.Imglist .Imglist_top{ width:240px; height:320px; overflow:hiddent; margin:0 auto;}
.Imglist .Imgimg{ list-style-type:none; padding:0; margin:0;}
.Imglist .Imgimg>li{ float:left; margin:0px; padding: 6px 1px 6px 6px;}
.Imglist .Imgimg>li>a{width: 52px; height:60px; display: block; position: relative; z-index: 998;course: pointer; text-align: center;}
.Imglist .Imgimg .xbg1{ width:40px; height:40px; display:block; position:absolute; z-index:1000; border-radius: 10px; top:0; left:6px;}
.Imglist .Imgimg .xbg2{ width:40px; height:40px; display:block; position:absolute; z-index:999; border-radius: 10px;top:0; left:6px;}
.Imglist .Imgimg>li>a:hover .xbg2{ z-index:1001;}
.font{ padding: 45px 0 0 0; color: #444; position: relative; bottom: 0; z-index: 10000; font-size: 12px; text-indent: 0; margin: 0;}
#mfdh,#zxzx,#yhhd{margin-top:15px;}
#mfdh{margin-left:32px;}
</style>
        <div class="Imglist">
          <div class="Imglist_top">
            <ul id="Imgimg" class="Imgimg">
              <li class="" id="gallery-1"> <a ><img src="__PUBLIC__/Home/i/icon/1.png" class="xbg1"><img src="__PUBLIC__/Home/i/icon/a1.png" class="xbg2">
                <p class="font">近视手术</p>
                </a></li>
              <li class="" id="gallery-2"> <a ><img src="__PUBLIC__/Home/i/icon/2.png" class="xbg1"><img src="__PUBLIC__/Home/i/icon/a2.png" class="xbg2">
                <p class="font">视力矫正</p>
                </a></li>
              <li class="" id="gallery-3"> <a ><img src="__PUBLIC__/Home/i/icon/3.png" class="xbg1"><img src="__PUBLIC__/Home/i/icon/a3.png" class="xbg2">
                <p class="font">白内障</p>
                </a></li>
              <li class="" id="gallery-4"> <a ><img src="__PUBLIC__/Home/i/icon/4.png" class="xbg1"><img src="__PUBLIC__/Home/i/icon/a4.png" class="xbg2">
                <p class="font">青光眼</p>
                </a></li>
              <li class="" id="gallery-5"> <a ><img src="__PUBLIC__/Home/i/icon/5.png" class="xbg1"><img src="__PUBLIC__/Home/i/icon/a5.png" class="xbg2">
                <p class="font">眼表疾病</p>
                </a></li>
              <li class="" id="gallery-6"> <a ><img src="__PUBLIC__/Home/i/icon/6.png" class="xbg1"><img src="__PUBLIC__/Home/i/icon/a6.png" class="xbg2">
                <p class="font">眼底病</p>
                </a></li>
              <li class="" id="gallery-7"> <a ><img src="__PUBLIC__/Home/i/icon/7.png" class="xbg1"><img src="__PUBLIC__/Home/i/icon/a7.png" class="xbg2">
                <p class="font">眼睑泪器</p>
                </a></li>
              <li class=""> <a href=""><img src="__PUBLIC__/Home/i/icon/8.png" class="xbg1"><img src="__PUBLIC__/Home/i/icon/a8.png" class="xbg2">
                <p class="font">近视手术</p>
                </a></li>
              <li class=""> <a href="http://wpa.qq.com/msgrd?v=3&uin=707897525&site=%E9%87%8D%E5%BA%86%E6%B3%B0%E6%81%92%E7%9C%BC%E7%A7%91%E5%8C%BB%E9%99%A2&menu=yes" target="_blank"><img src="__PUBLIC__/Home/i/icon/9.png" class="xbg1"><img src="__PUBLIC__/Home/i/icon/a9.png" class="xbg2">
                <p class="font">QQ</p>
                </a></li>
      <li class=""> <a href="javascript:void(0);" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0,}"><img src="__PUBLIC__/Home/i/icon/10.png" class="xbg1"><img src="__PUBLIC__/Home/i/icon/a10.png" class="xbg2">
                <p class="font">微信</p>
                </a></li>
              <li class=""> <a href="http://weibo.com/p/1005052728485332?is_all=1" target="_blank"><img src="__PUBLIC__/Home/i/icon/11.png" class="xbg1"><img src="__PUBLIC__/Home/i/icon/a11.png" class="xbg2">
                <p class="font">新浪</p>
                </a></li>
              <li class=""> <a href="http://t.qq.com/tide-eye" target="_blank"><img src="__PUBLIC__/Home/i/icon/12.png" class="xbg1"><img src="__PUBLIC__/Home/i/icon/a12.png" class="xbg2">
                <p class="font">腾讯</p>
                </a></li>
              <li class="" id="mfdh"> <a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT74007147&lng=cn" target="_blank"><img src="__PUBLIC__/Home/i/icon/13.png" class="xbg1"><img src="__PUBLIC__/Home/i/icon/a13.png" class="xbg2">
                <p class="font">免费电话</p>
                </a></li>
              <li class="" id="zxzx"> <a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT74007147&lng=cn" target="_blank"><img src="__PUBLIC__/Home/i/icon/14.png" class="xbg1"><img src="__PUBLIC__/Home/i/icon/a14.png" class="xbg2">
                <p class="font">在线咨询</p>
                </a></li>
              <li class="" id="yhhd"> <a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT74007147&amp;lng=cn" target="_blank"><img src="__PUBLIC__/Home/i/icon/15.png" class="xbg1"><img src="__PUBLIC__/Home/i/icon/a15.png" class="xbg2">
                <p class="font">优惠活动</p>
                </a></li>
            </ul>
          </div>
          <div class="Imglist_bottom">
            <div class="sousuo">
              <input type="text" id="search" minlength="3" placeholder="搜索" class="am-form-field" required>
            </div>
          </div>
        </div>
      </div>
      <div class="icon-ss-all">
      <volist name="office_menu" id="ivo">
        <ul class="icon-ss icon-ss-{$key+1}" style="display:none;">
          <h1><a href="/{$ivo.name}/">＞{$ivo.title}</a></h1>
              <volist name="ivo.subs" id="isvo">
              <li><a href="/{$ivo.name}/{$isvo.name}/">{$isvo.title}</a></li>
              </volist>
        </ul>
      </volist>
      </div>
    </div>
  </div>