<div class="min-menu">
  <div class="menu">
    <ul>
      <li class="menu-list" id="sykk1"> <a  href="{:U('/')}" id="menuone1">首&nbsp&nbsp&nbsp&nbsp页</a>
        <!--<div id="sykk"></div>-->
      </li>
      <li class="menu-list"> <a href="{:U('/special/brand')}/" id="menuone2">泰恒品牌</a> </li>
      <li class="menu-list"><a href="javascript:void(0);" id="menuone3">医院新闻</a>
      <ul id="ul1" class="ulpop">
          <li><a href="{:U('/news/hospital-news')}/">>院内新闻</a></li>
          <li><a href="{:U('/news/report')}/">>媒体报道</a></li>
          <li><a href="{:U('/news/class')}/">>专家答疑</a></li>
          <li><a href="{:U('/news/welfare')}/">>公益印记</a></li>
          <li><a href="{:U('/news/honor')}/">>荣誉资质</a></li>
          <div style="clear:both;"></div>
      </ul>
      </li>
      <li class="menu-list"><a href="{:U('/specialist/')}/" id="menuone4">专家团队</a></li>
      <li class="menu-list"><a href="{:U('/armarium/')}/" id="menuone5">前沿设备</a></li>
      <li class="menu-list"><a href="{:U('/news/case')}/" id="menuone6">案例分享</a></li>
      <li class="menu-list"><a href="{:U('/video')}/" id="menuone7">视频资讯</a></li>
      <li class="menu-list"><a href="{:U('/subject')}/" id="menuone8">精彩专题</a></li>
      <li class="menu-list-9"><a href="javascript:void(0);" id="menuone9">诊疗服务</a>
        <ul id="ul2" class="ulpop">
          <li><a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT74007147&lng=cn" target="_blank">>在线咨询</a></li>
          <li><a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT74007147&lng=cn" target="_blank">>预约专家</a></li>
          <li><a href="http://www.th023.com/pages/352.html">>专家排班</a></li>
          <li><a href="http://www.th023.com/pages/39.html">>就医流程</a></li>
          <li><a href="http://www.th023.com/pages/36.html">>手术指南</a></li>
          <li><a href="http://www.th023.com/pages/37.html">>来院路线</a></li>
          <div style="clear:both;"></div>
        </ul>
      </li>
      <li class="menu-list"><a href="{:U('/yuyue')}/" id="menuone10">预约挂号</a></li>
    </ul>
  </div>
</div>
<style type="text/css">
#sykk{width:1000px; height:100px; background-color:white; positon:absolute; display:none;border: 1px solid #7fc9f1;}
</style>