	   <div class="gh_1">
        <h2>温馨提示</h2>
        <span>　　       为响应医改号召，我院开通就医绿色通道，提供网上咨询、预约挂号服务，预约成功后到医院三楼大厅导医台，报上预约信息（姓名、电话、预约专家），导医会第一时间安排您的就诊事项！
		</span> 
		
		</div>
		 <div class="gh_2">
        <h2>023-68884888</h2>
        <span>24小时眼健康咨询热线</span>
        <div class="ghimg"><img src="__PUBLIC__/Home/i/news/zx.png" border="0" usemap="#Map2">
          <map name="Map2" id="Map2">
            <area shape="rect" coords="2,3,59,73" href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT74007147&lng=cn" target="_blank">
            <area shape="rect" coords="95,3,158,75" href="http://wpa.qq.com/msgrd?v=3&uin=707897525&site=%E9%87%8D%E5%BA%86%E6%B3%B0%E6%81%92%E7%9C%BC%E7%A7%91%E5%8C%BB%E9%99%A2&menu=yes" target="_blank">
            <area shape="rect" coords="192,2,246,74" href="/pages/37.html" target="_blank">
          </map>
        </div>
      </div>