<div id="notice" class="cha notice">
          <div  id="notice-tit" class="cha_1 notice-tit">
            <ul>
              <li class="select" id="chas1"> <a href=" " class="chas"   >疾病<br>
                查询</a> </li>
              <li id="chas2"> <a href=" " > 症状<br>
                查询</a> </li>
            </ul>
          </div>
          <div id="notice-con" class="notice-con">
            <div class="cha_2" id="tab_chas_1">
              <p> <a href="">近视眼 </a> <a href=" "> 白内障</a> <a href=" ">青光眼 </a> <a href=" ">医学验光配镜 </a> <a href="">RGP</a> <a href=" "> 角膜塑形镜 </a> <a href=" "> 青光</a> <a href=" "> 医学验光配镜胬肉</a> <a href=" "> 近视眼 </a> <a href=" ">医学验光配镜 </a> <a href=" "> RGP</a> <a href=" ">角膜塑形镜</a> </p>
            </div>
            <div class="cha_2" id="tab_chas_2" style=" display:none;">
              <p> <a href="">1近视眼 </a> <a href=" "> 1白内障</a> <a href=" ">1青光眼 </a> <a href=" ">1医学验光配镜 </a> <a href="">RGP</a> <a href=" "> 角膜塑形镜 </a> <a href=" "> 青光</a> <a href=" "> 医学验光配镜胬肉</a> <a href=" "> 近视眼 </a> <a href=" ">医学验光配镜 </a> <a href=" "> RGP</a> <a href=" ">角膜塑形镜</a> </p>
            </div>
          </div>
        </div>