@charset "utf-8";
/* CSS Document */
body, input, select, button, textarea{
	font-family:microsoft yahei,宋体;
	color:#444444;
	font-size:14px;
}
p{
	text-indent:0;
}
.exspan-l{
	color:#a69256;    
	width: 60px;
    float: left;
}
.exspan-2{
	color:#6b6e73;
	width: 182px;
    float: left;
	margin:0;
	padding:0;
}
.exspan_2{
	width: 108px;
    float: left;
	margin:0;
	padding:0;
	height:40px;
}
.exspan_1{
	width: 47px;
    float: left;
		height:40px;
}
.exspan-3{
	color:#a69256;
	width: 120px;
    float: left;
}
.content{
	width:1000px;
	background-color:#FFF;
	border:1px solid #CCC;
	margin:-20px auto;
	margin-bottom:50px;
}
.exspan-l{
	    width: 60px;
    float: left;
	    color: #a69256;
}
.exzj {
    font-size: 36px;
    color: #a69256;
    width: 1000px;
    height: 57px;
}
.exzj_1 {
    font-size: 24px;
    color: #231f20;
}
.exzj_1 .exspan_1 {
    color: #d1d3d4;
}
.content .one{
	padding:0;
	margin:0;
	width:930px;
	height:400px;
	margin:0 auto;
	margin-top:55px;
}
.one h1,.one h2{
	padding:0;
	margin:0;
}
.one h1 {
	color:#a79253;
	font-size:24px;
}
.one h2{
	width:125px;
	height:40px;
	font-size:22px;
	float:left;
}
.content .one p{
	padding:0;
	margin:0;
	font-size:12px;
	color:#a79253;
}
.content .one span{
    width:500px;
	height:60px;
	float:left;
	margin-bottom:20px;
}

.two{
	width:930px;
	height:125px;
	margin:0 auto;
}
.two .cont{
	width:930px;
	height:30px;
	background-color:#ced0d1;
}
.cont h1{
	width:140px;
	height:30px;
	line-height:30px;
	background-color:#005c8e;
	color:#FFF;
	text-align:center;
	font-size:14px;
	font-weight:100;
}
.two h2{
	padding:0;
	margin:0;
	color:#a79253;
	margin-top:22px;
	font-size:22px;
		font-weight:100;
}
.two p{
	padding:0;
	margin:0;
	font-size:18px;
}


.three{
    width: 930px;
    height: 330px;
    margin: 0 auto;
}

.three .L{
	width:455px;
	height:326px;
	border-top:1px dashed #a58f56;
	float:left;
}
.L img{
	margin:28px 28px 290px 10px;
	float:left;
}

.L p{
	font-size: 12px;
    line-height: 27px;
    color: #a58f56;
    margin-bottom: 16px;
}
.L .aa{
	width:75px;
	height:25px;
	background-color:#0c70ab;
	float:left;
	text-align:center;
	line-height:25px;

}
.aa a:hover,.bb a:hover{
	text-decoration:underline;
}
.L .bb{
	width:75px;
	height:25px;
	background-color:#a58f56;
	float:left;
	text-align:center;
	line-height:25px;
}

.three .tu{
	float:right;
}

.four{
	width:930px;
	height:285px;
	margin:0 auto;
	border-top:1px dashed #a58f56;

}
.four h1,.five h1,.six h1,.seven h1,.eight h1{
	padding:0;
	margin:0;
	color:#a79253;
	padding:15px 0px 0px 10px;
	font-size:22px;
	font-weight:100;
}
.four h2,.five h2,.six h2,.seven h2,.eight h2{
	padding:0;
	margin:0;
	font-size:18px;
	padding:0px 0px 10px 10px;
	border-bottom:1px dashed #a58f56;
	font-weight:100;
}
.four img,.five img,.six img,.seven img,.eight img{
	margin:25px 25px 90px 10px;
	float:left;
}
.four p,.five p,.six p,.seven p,.eight p{
	padding:0;
	margin:0;
	padding:15px 0;
	font-size:12px;
	line-height:28px;
}
.seven p{
	padding:0;
	margin:0;
	padding:30px 0 16px 0;
	font-size:14px;
	line-height:28px;
}
.cc{
	color:#0c70ab;
}
.aa{
	width: 75px;
    height: 25px;
    background-color: #0c70ab;
    float: left;
    text-align: center;
    line-height: 25px;

}
.aa a:hover,.bb a:hover{
	text-decoration:underline;
}
.bb{
	width:75px;
	height:25px;
	background-color:#a58f56;
	float:left;
	text-align:center;
	line-height:25px;
}


.five{
	width:930px;
	height:315px;
	margin:0 auto;
	border-top:1px dashed #a58f56;

}

.six{
	width:930px;
	height:370px;
	margin:0 auto;
	border-top:1px dashed #a58f56;

}
.seven{
	width:930px;
	height:230px;
	margin:0 auto;
	border-top:1px dashed #a58f56;

}

.eight{
	width:930px;
	height:305px;
	margin:0 auto;
	border-top:1px dashed #a58f56;
	border-bottom:1px dashed #a58f56;
}
.six img{
	margin:25px 25px 130px 10px;
	float:left;
}
.seven img{
	margin:25px 25px 40px 10px;
	float:left;
}
.bottom{
	width:930px;
	height:100px;
	margin:0 auto;
}
.bottom ul{
	width:930px;
	height:40px;
	padding:25px 0;
	margin:0;
	margin-top:37px;
}
.bottom li{
	float:left;
	list-style:none;
	padding:0px 9px 0px 9px;
}

.zhinan-content-right-2 th{
	border:0;
	background-color:#0093dd;
	border-right:2px solid #0093dd;
	color:#FFF;
	height:38px;
	text-align:center;
	font-size:15px;
	font-weight:;
}
.zhinan-content-right-2 p{
	font-size:12px;
	padding:0;
	margin:0;

}
.zhinan-content-js{
	height:1312px;
	}
.zhinan-content-right-2 span{
	color:#0093DD;
	text-align:center;
	display:block;
}
.zhinan-content-right-2 table{
	border:0px solid #c7aa73;
}
.zhinan-content-right-2 .one{
	padding-left:10px;
}
.zhinan-content-right-2 .abcd{
	padding-left:20px;
}


.zhinan-content-right-2 .kong{
	float:left;
	width:52px;
	height:14px;
}

.baineizhang-content-right-2 table{
	border:0px solid #c7aa73;
}

.baineizhang-content-right-2 th{
	border:0;
	background-color:#0093dd;
	border-right:2px solid #0093dd;
	color:#FFF;
	height:38px;
	text-align:center;
	font-size:16px;
}
.baineizhang-content-right-2 p{
	font-size:12px;
	padding:0;
	margin:0;
}

.baineizhang-content-right-2 td{
	padding:15px;

}
.baineizhang-content-right-2 span{
	padding:8px;
	color:#0093DD;
	text-indent:0;
}

.zhinan-content {
    padding-top: 5px;
}
.zhinan-content-right{
	height:1225px;
}

.zhinan-content {
    height: 1330px;
}


.zhinan-content-right-2 table td,.baineizhang-content-right-2 table td {
    border: 1px solid #d7af38;
}






